<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>BookServlet</servlet-name>
  	<display-name>BookServlet</display-name>
  	<description></description>
  	<servlet-class>com.fssa.lms.servlet.BookServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddBookServlet</servlet-name>
  	<display-name>AddBookServlet</display-name>
  	<description></description>
  	<servlet-class>com.fssa.lms.servlet.AddBookServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditBookServlet</servlet-name>
  	<display-name>EditBookServlet</display-name>
  	<description></description>
  	<servlet-class>com.fssa.lms.servlet.EditBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/bookservlet</url-pattern>
</servlet-mapping>
  

</web-app>
